`{% extends "base.html" %}
{% block content %}
<div class="lost-entry">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>{{ lost.title }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>Time : <span>{{ lost.date_item_lost }}</span></p>
                        <p>Location: <span>{{ lost.location }}</span></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>
                            {{ lost.description }}
                        </span>
                        <br>
                        <span>
                            {% if lost.picture %}
                            <img src="{{ lost.picture.url }}" height="100">
                            {% endif %}
                        </span>
                    </td>
                </tr>
                {% if lost.author == request.user %}
                <tr>
                    <td>
                        <p>
                            <span>
                            <a href="{% url "lost_edit" lost.pk %}" class="btn btn-info">Edit</a>
                        </span>
                            <span>
                            <a href="{% url "lost_delete" lost.pk %}" class="btn btn-danger"> Delete</a>
                        </span>
                        </p>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
<hr>

 <div class="main-comment-section">
    {% include 'lost/comments.html' %}
</div>

{% endblock content %}