{% extends "base.html" %}
{% block title %}{{lost.title}}{% endblock title %}
{% block content %}

<div class="card">
    <div class="container"></div>
    <div class="card-header">
        <span class="font-weight-bold"><h1>{{ lost.title }}</h1></span>
        <span class="text-muted">by {{ lost.author }} | {{ lost.date_item_lost }}</span>
    </div>
    <hr>
    {% if lost.color or lost.brand or lost.description %}
        <div class="card-body">
        <div class="panel-body">
            {% if lost.location %}
                <span><h4><b>Location :</b></h4></span> <span >  <pre style="font-size: 14px">{{ lost.location}}</pre></span>  
            {% endif %}
            <hr>
            {% if lost.brand %}
                <span><h4><b>Brand / Company :</b></h4></span> <span >  <pre style="font-size: 14px">{{ lost.brand}}</pre></span>  
            {% endif %}
            <hr>
            {% if  lost.color %}
                <span><h4><b>Color :</b></h4></span> <span >  <pre style="font-size: 14px">{{ lost.color}}</pre></span>            
            {% endif %}
            
            <hr>
            {% if lost.description %}
                <span><h4><b>Additional Description :</b></h4></span><span > <pre style="font-size: 14px">{{ lost.description}}</pre></span>
            {% endif %}
            
        </div>
    </div>
    
    {% endif %}
    <div class="card-body">
        {% if lost.picture %}    <img src="{{ lost.picture.url }}" alt="Avatar" height="100">{% endif %}
    </div>
    {% if lost.author == request.user %}
        <div class="card-footer text-center text-muted">
        <a href="{% url "lost_edit" lost.pk %}" class="btn btn-info">Edit</a> | <a href="{% url "lost_delete" lost.pk %}" class="btn btn-danger"> Delete</a>
    </div>
    {% endif %}
<hr>

 <div class="main-comment-section">
    {% include 'lost/comments.html' %}
</div>

{% endblock content %}