{% extends "base.html" %}
{% block content %}
<div>
      <a href="{% url "lost_create" %}" class="btn btn-danger" cellpadding="10px"><span class="glyphicon glyphicon-plus"><b> Register Item</b></span></a>
</div>
<div class="table-responsive">
   <table class="table">
      <thead>
         <tr>
            <th>
               Following Items Need Help:-
            </th>
         </tr>
      </thead>
      <tbody>
            {% for item in object_list %}
            <tr>
   <td>
      <div class="lost-entry">
      <h2>
         <a href="{% url "lost_detail" item.pk %}">
            {{ item.title }}
         </a>
      </h2>
      <b>By : {{item.author}}</b>
   </div>
   <div class="date & comments">   Comments : {{ item.comments.count }} |    
                {{ item.date_item_registered }}

   </div>
   </td>
</tr>
{% endfor %}
         
      </tbody>
   </table>
</div>
{% endblock content %}