{% extends "base.html" %}
{% block form %}
<li>
    <p>
        <form action="" method="GET" class="form-inline">
            <span><input class="form-control" type="text" name="q" placeholder="Search" value="{{ request.GET.q }}">
                        <button class="btn btn-success" type="submit">Search</button></span>
        </form>
    </p>
</li>
{% endblock form %}
{% block content %}

{% if q %}
    {% else %}
        <div>
      <a href="{% url "lost_create" %}" class="btn btn-danger" cellpadding="10px"><span class="glyphicon glyphicon-plus"><b> Register Item</b></span></a>
</div>
<div class="table-responsive">
   <table class="table">
      <thead>
         <tr>
            <th>
               Following Items Need Help:-
            </th>
         </tr>
      </thead>
      <tbody>
            {% for item in object_list %}
            <tr>
   <td>
      <div class="lost-entry">
      <h2>
         <a href="{% url "lost_detail" item.pk %}">
            {{ item.title }}
         </a>
      </h2>
      <b>By : <a href="{{item.author.get_profile}}"> {{item.author}} </a></b>
   </div>
   <div class="date & comments">
      Comments : {{ item.comments.count }} | {{ item.date_item_registered }}
   </div>
   </td>
</tr>
{% endfor %}
         
      </tbody>
   </table>
</div>

{% endif %}

{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock content %}