<div class="container-fluid mt-2">
  <div class="form-group row">
    <form method="post" class="comment-form" action=".">
      {% csrf_token %}
      {{ comment_form.as_p }}
      {% if request.user.is_authenticated %}
        <input type="submit" value="Submit" class="btn btn-outline-success">
      {% else %}
        <input type="submit" value="Submit" class="btn btn-outline-success" disabled>
      {% endif %}
    </form>
  </div>
</div>
`
{{ comments.count }} Comment{{ comments|pluralize }}
{% for comment in comments %}
  <blockquote class="blockquote">
    <div style="font-size: 12px"><a href="{{comment.author.get_profile}}"><b>{{ comment.author.first_name|capfirst }} {{ comment.author.last_name|capfirst }} [{{ comment.author }}]</b> </a></div>
    <p class="mb-0">{{ comment.text }}</p>
      <button type="button" name="button" class="reply-btn btn btn-outline-dark btn-sm">Reply</button>
      <font size="1">{{comment.found_replies.count}} Reply {{ replies|pluralize }}</font>
  </blockquote>

  <div class="replied-comments container mt-2 " style="display: none; margin-left: 25px">
    {% for reply in comment.found_replies.all %}
    <small><a href="{{reply.author.get_profile}}">{{ reply.author.first_name|capfirst }} {{ reply.author.last_name|capfirst }} [{{ comment.author }}]</a></small>
    <blockquote class="blockquote">
      <p class="mb-0">{{ reply.text }}</p>
    </blockquote>
    {% endfor %}
    <div class="form-group row">
      <form method="post" class="reply-form" action=".">
        {% csrf_token %}
        <input type="hidden" name="comment_id" value="{{ comment.id }}">
        {{ comment_form.as_p }}
        {% if request.user.is_authenticated %}
          <input type="submit" value="Submit" class="btn btn-outline-success">
        {% else %}
          <input type="submit" value="Submit" class="btn btn-outline-success" disabled>
        {% endif %}
      </form>
    </div>
  </div>
{% endfor %}
