{% extends "base.html" %}

{% block title %}{{found.title}}{% endblock title %}
{% block content %}
<div class="card">
<div class="card-header">
<ul class="nav nav-tabs card-header-tabs">
<li class="nav-item">
<a class="nav-link" href="{% url "found_detail" pk=found.pk %}" style="font-size: 18px"><i class="material-icons" style="vertical-align: text-bottom">&#xe0da;</i> Item Details</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url "found_item_suggestions" pk=found.pk %}" style="font-size: 18px"><i class="material-icons" style="vertical-align: text-bottom">&#xe065</i> Suggestions</a>
</li>
</ul>
</div>
<div class="card">
    <div class="card-header">
        <span class="font-weight-bold"><h1>{{ found.title }}</h1></span>
        <span class="text-muted">by <a href="{{found.author.get_profile}}">{{ found.author.first_name|capfirst }} {{ found.author.last_name|capfirst }} [{{ found.author }}]</a> | {{ found.date_item_found }}</span>
    </div>
    <hr>
    {% if found.color or found.brand or found.description or found.location %}
    <div class="card-body">
        <div class="panel-body">
            {% if found.location %}
                <span><h4><b>Location :</b></h4></span> <span >  <pre style="font-size: 14px">{{ found.location}}</pre></span>  
            {% endif %}
            
            {% if found.brand %}
            <hr>
                <span><h4><b>Brand / Company :</b></h4></span> <span >  <pre style="font-size: 14px">{{ found.brand}}</pre></span>  
            {% endif %}
            
            {% if  found.color %}
            <hr>
                <span><h4><b>Color :</b></h4></span> <span >  <pre style="font-size: 14px">{{ found.color}}</pre></span>            
            {% endif %}
            
            {% if found.description %}
            <hr>
                <span><h4><b>Additional Description :</b></h4></span><span > <pre style="font-size: 14px">{{ found.description}}</pre></span>
            {% endif %}
        </div>
    </div>
    {% endif %}
    <div class="card-body">
        {% if found.picture %}<img src="{{ found.picture.url }}" height="100">{% endif %}
    </div>
        {% if request.user.is_authenticated %}
        {% if found.author != request.user and not found.claimed_user %}
        <br>
        <form action="{% url "item_claimed" pk=found.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-default">Claim</button>
        </form>         
        
        {% elif found.claimed_user %}
        <div class="alert info alert-dismissible block" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            Item already claimed by <a href="">{{ found.claimed_user }}</a>
        </div>
        {% endif %}
        {% endif %}
        {% if found.author == request.user %}
        <div class="card-footer text-center text-muted">
            <a href="{% url "found_edit" found.pk %}"><i class="material-icons" style="vertical-align: text-bottom; color:gray; font-size: 20px">&#xe3c9;</i> <span style="font-size: 20px; color:black">Edit </span></a><span style="font-size: 20px; color: black">|</span> <a href="{% url "found_delete" found.pk %}"><i class="material-icons" style="vertical-align: text-bottom; color: gray; font-size: 22px">&#xe872;</i> <span style="font-size: 20px; color:black">Delete </span></a>
        </div>
        {% if found.claimed_user %}
        <div>
            <p>Do you want to approve the article? 
            <form action="{% url "claim_approved" pk=found.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-default" onclick="return confirm('Are you sure? The item will be deleted from the database')">Approve</button>
            </form>
            </p>
        </div>
        {% endif %}
        {% endif %}
        <hr>
        <div class="main-comment-section">
            {% include 'found/found_comments.html' %}
        </div>
        {% endblock content %}
