.{% extends "base.html" %}
{% block title %}{{found.title}}{% endblock title %}
{% block content %}
<div class="card">
    <div class="card-header">
        <span class="font-weight-bold"><h1>{{ found.title }}</h1></span>
        <span class="text-muted">by {{ found.author }} |{{ found.date_item_found }}</span>
    </div>
    <hr>
    <div class="card-body">
        <div class="panel-body">
            <span><h4><b>Brand / Company :</b></h4></span> <span >  <pre>{{ lost.brand}}</pre></span> 
            <hr>
            <span><h4><b>Color :</b></h4></span> <span >  <pre>{{ lost.color}}</pre></span>
            <hr>
            <span><h4><b>Additional Description :</b></h4></span><span > <pre>{{ lost.description}}</pre></span>
        </div>
    </div>
    <div class="card-body">
        {% if found.picture %}<img src="{{ found.picture.url }}" height="100">{% endif %}
    </div>
    {% if found.author == request.user %}
        <div class="card-footer text-center text-muted">
        <a href="{% url "found_edit" found.pk %}" class="btn btn-info">Edit</a> | <a href="{% url "found_delete" found.pk %}" class="btn btn-danger"> Delete</a>
    </div>
    {% endif %}
<hr>

 <div class="main-comment-section">
    {% include 'found/comments.html' %}
</div>

{% endblock content %}
