{% extends "base.html" %}
{% block content %}
<div>
      <a href="{% url "found_create" %}" class="btn btn-danger" ><span class="glyphicon glyphicon-plus">Register Item</span></a>
</div>
<div class="table-responsive">
   <table class="table">
      <thead>
         <tr>
            <th>
               Following Items Need Help:-
            </th>
         </tr>
      </thead>
      <tbody>
            {% for item in object_list %}
            <tr>
   <td>
      <div class="found-entry">
      <h2>
         <a href="{% url "found_detail" item.pk %}">
            {{ item.title }}
         </a>
      </h2>
   </div>
   <a href="{% url 'found_detail' item.pk %}"> Comments: {{ item.comments.count }} </a>
   </td>
</tr>
{% endfor %}
         
      </tbody>
   </table>
</div>
{% endblock content %}