{% extends "base.html" %}
{% block content %}
<div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url "found_detail" pk=found.pk %} ">Item Details</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url "found_item_suggestions" pk=found.pk %}">Suggestions</a>
        </li>
    </ul>
</div>
{% if q %}
{% else %}
<br>
<div class="table-responsive">
    {% for item in lost %}
    {% if item.claimed_user %}
    <h3>No suggestions for you</h3>
      {% else %}
          <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-top" style="padding-top: 0.5px;">
            <div class="lost-entry">
                <h2>
         <a href="{% url "lost_detail" item.pk %}">
            {{ item.title }}
         </a>
      </h2>
                <div class="row">
                    <div class="group2 col-sm-6 col-md-6">
                        <span class="glyphicon glyphicon-pencil"></span> {{ item.comments.count }} Comments
                        <span class="glyphicon glyphicon-time"></span> {{ item.date_item_registered }}
                        {% if item.item_found %}
                        <span class="label label-default">Found</span>
                        {% endif %}
                    </div>
                    <div class="group1 col-sm-4 col-md-4">
                    </div>
                    <div class="group1 col-sm-2 col-md-2">
                        <span class="glyphicon glyphicon-user"></span> <a href="#"><b>By : {{item.author}}</b></a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <br>
    
    {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endblock content %}